:root {
  --color-light: #fff;
  --color-dark-accent: #191919;
  --color-dark: #292929;
  --color-gray: #808080;
  --color-gray-light: #757575;
  --color-gray-hr: #e6e6e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  color: var(--color-dark-accent);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
